<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false" scanPeriod="10 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd}T%d{'HH:mm:ss.SSS'} %-5level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="trace" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${surfsentry.logdir}/${node.hostname}_trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover - Once any of the below condition met, it will change the file name as below and compressed it. -->
            <fileNamePattern>${surfsentry.logdir}/${node.hostname}_trace.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- Keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- Or whenever the file size reaches 10 MB -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd}T%d{'HH:mm:ss.SSS'} %-5level [%thread] %logger{40} %msg%n%nopex</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="trace"/>
        <!--appender-ref ref="stdout"/-->
    </root>

</configuration>